Python 3.9.12
anyio  
appnope  
argon2-cffi  
async-generator  
attrs  
Babel  
backcall  
bleach  
Bottleneck  
brotlipy==0.7.0
certifi==2021.10.8
cffi  
charset-normalizer  
click  
colorama  
cryptography  
cycler  
debugpy  
decorator  
defusedxml  
entrypoints==0.3
Flask==2.1.1
fonttools==4.25.0
idna  
importlib-metadata  
ipykernel  
ipython  
ipython-genutils  
ipywidgets  
itsdangerous==2.1.2
jedi  
Jinja2  
joblib  
json5  
jsonschema  
jupyter  
jupyter-client  
jupyter-console  
jupyter-core  
jupyter-server  
jupyterlab  
jupyterlab-pygments  
jupyterlab-server  
jupyterlab-widgets  
kiwisolver  
MarkupSafe  
matplotlib  
matplotlib-inline  
mistune  
munkres==1.1.4
nbclassic  
nbclient  
nbconvert  
nbformat  
nest-asyncio  
nltk  
notebook  
numexpr  
numpy  
olefile  
packaging  
pandas==1.3.5
pandocfilters  
parso  
pexpect  
pickleshare  
Pillow  
prometheus-client  
prompt-toolkit  
ptyprocess  
pycparser  
Pygments  
pyOpenSSL  
pyparsing  
PyPrind
PyQt5
PyQt5_sip
PyQtChart
pyrsistent  
PySocks  
python-dateutil  
pytz==2021.3
pyzmq  
qtconsole  
QtPy  
regex  
requests  
retrolab  
scikit-learn  
scipy  
Send2Trash  
six  
sniffio  
terminado==0.9.4
testpath  
threadpoolctl  
tornado  
tqdm  
traitlets  
urllib3  
wcwidth  
webencodings==0.5.1
Werkzeug==2.1.1
widgetsnbextension  
zipp  
